<!-- Landing Page, essentially a slightly modified hero section -->
<section class="my-5 py-4" id="entry-header">
  <div class="container col-xxl-10 px-4">
    <div class="row align-items-center g-5">
       
      <div class="col-lg-6">
        <a href="{{ include.url | relative_url }}"
          class="text-decoration-none text-body" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarDark">
          <figure class="figure">
          <img
            src="{{ include.image | relative_url }}"
            class="img-fluid"
            alt="{{ include.alt }}"
            loading="lazy"
          />
          {% if include.caption %}
          <figcaption class="figure-caption hero-caption">
            {{ include.caption }}
          </figcaption>
          {% endif %}
        </figure>
        </a>
      </div>
    
      <div class="col-lg-6">
        <h1 class="display-5 lh-1 mb-3">
          {{ include.title }}
        </h1>

        <p class="lead">
          {{ include.description }}
        </p>

        {% if include.links %}
        <nav class="d-flex flex-wrap gap-3 mt-4" aria-label="Related links">
          {% for link in include.links %}
            <a href="{{ link.url }}" class="btn btn-outline-secondary btn-lg d-none d-md-inline-flex"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbarDark">
              <span class="navbar-toggler-icon"></span>
              <span class="ms-2"></span>
              {{ link.label }}
            </a>
          {% endfor %}
        </nav>
        {% endif %}
      </div>

    </div>
  </div>
</section>