
<div class="container sticky-top bg-body z-3">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
    
    <!-- Title and Home link with space on the left for an SVG logo -->
    <div class="d-flex align-items-center me-md-auto gap-4">
      <a href="{{ '/' | relative_url }}" class="d-flex align-items-center link-body-emphasis text-decoration-none"> 
        
        <img src="{{ '/assets/images/letter-j.png' | relative_url }}" class="me-2" width="40" height="32" aria-hidden="true" alt="Letter J logo">
        <span class="fs-4">the Book of Jack</span> 
      </a> 
      <!-- Add 'Start Here' button to activate table of contents. -->
      <button
        class="btn btn-outline-secondary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbarDark"
        aria-controls="offcanvasNavbarDark"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        Start Here
      </button>
      <!-- Add 'Jump In' button will go to gallery. -->
      <button
        class="btn btn-outline-secondary"
        type="button"
        aria-label="Toggle navigation"
      >
        <a href="{{ '/gallery/' | relative_url }}" class="nav-link {% if page.url contains '/gallery' %}active{% endif %} px-2">
          Gallery
        </a>
      </button>
      <!-- Search... need to implement a real search function. -->  
      <div class="d-flex align-items-center gap-3">
        <form class="d-flex align-items-between" role="search">
          <input
            class="form-control form-control-md me-2"
            type="search"
            placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-secondary btn-md" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
      <!-- Theme dropdown -->
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          Theme
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" data-bs-theme-value="light">☀ Light</button></li>
          <li><button class="dropdown-item" data-bs-theme-value="dark">🌙 Dark</button></li>
          <li><button class="dropdown-item" data-bs-theme-value="auto">⚙ Auto</button></li>
        </ul>
      </div>
    <!-- Offcampus sidebar for Table of Contents-->
    {% include toc.html %}
  </header> 
</div>
<!-- End navbar -->
