<!-- Offcanvas Panel -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Table of Contents</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body">
    <h5>Front Matter</h5>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{{ '/jack-origins/' | relative_url }}" class="nav-link {% if page.url contains '/jack-origins' %}active{% endif %} px-2">
          Origins
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/about/' | relative_url }}" class="nav-link {% if page.url contains '/about' %}active{% endif %} px-2">
          About
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/copyright/' | relative_url }}" class="nav-link {% if page.url contains '/copyright' %}active{% endif %} px-2">
          Copyright
        </a>
      </li>
    </ul>

    <h5>Food and Drink</h5>
    <ul class="navbar-nav">
      <li class="nav-item">
      <a href="{{ '/cracker-jack/' | relative_url }}"
          class="nav-link {% if page.url contains '/cracker-jack' %}active{% endif %} px-2">
        Cracker Jack
      </a>
      </li>
    </ul>

    <h5>Media</h5>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{{ '/jack-in-pop-culture/' | relative_url }}"
           class="nav-link {% if page.url contains '/jack-in-pop-culture' %}active{% endif %} px-2">
          Jack in Pop Culture
        </a>
      </li>
    </ul>
  </div>
  
</div>

<!-- Filter/Sort Options: For data-heavy pages like product listings or search results, 
 an offcanvas can hold complex filtering and sorting options that are hidden until needed, 
 improving the main layout's clarity. 
 
 This site would probably need 50 sepearte entries to need a filter/sort feature. -->



