<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  {% include head.html %}
  <body class="d-flex flex-column min-vh-100">
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c/2.3.2/Luminous.min.js"></script>
    {% include header.html %}
    <div class="container flex-grow-1" style="min-height:0;">
      <div class="row h-100">
        <main class="col">
          {{ content }}
        </main>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>
</html>
